<%- include('partials/head')%>
<%- include('partials/nav')%>

NEW PAGE

<form action="/blog" method="POST">
    <label for="post-title">Title</label><br>
    <input type="title"><br>

    <label for="post-body">Content</label><br>
    <textarea name="post-body" id="post-body" cols="30" rows="10"></textarea><br>
</form>

<%- include('partials/foot')%>